<div class='container-port'>
  <div class='container-title'>
    <h1 class='title' id='ab'>About</h1>
  </div>
  <div class='container-soft__img'>
    <div class='container-image'>
      <div class="img"></div>
    </div>
    <div class='container-soft'>
      <div class="container-soft__skills">
        <a class="image-bdg" type="button" data-toggle="collapse" data-target="#skill1" aria-expanded="false" aria-controls="collapseExample">
        </a>
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
      <div class="container-soft__skills">
        <a class="image-bdg" type="button" data-toggle="collapse" data-target="#skill2" aria-expanded="false" aria-controls="collapseExample">
        </a>
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
      <div class="container-soft__skills">
        <%= link_to '#' do %>
           <div class="image-bdg"></div>
        <% end %>
        <div class="">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>
</div>