<div class='container-tools'>
  <div class='skills' >
    <% ola.each do | ol | %>
      <div class='one-skill'>
        <div>
          <p><%= ol.name %></p>
        </div>
        <div class='triangle'>
        </div>
        <div>
          <p><%= ol.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>