<div class='container-landing'>
  <div class='container-text__first'>
    <h1 class='first-text'>Hello there Im <span>Ricardo Montenegro</span></h1>
  </div>
  <div class='container-text__second'>
    <h2 class='second-text'>full-stack developer</h2>
  </div>
  <div class='container-text__third'>
    <h2 class='third-text'>Look at</h2>
  </div>
  <div class="btn-mywork">
    <a class='my-work' href="#" data-reflex='click->Something#hello'>My work</a>
  </div>
</div>
<div id='he'></div>