@mixin d-flex {
  display: flex;
  justify-content: center;
  align-items: center;  
}

@mixin d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

@mixin landing-text {
  text-align: center;
  font-size: 2.5em;
}

@mixin landing_text_phone {
  font-size: 2.2em;
}

@mixin links {
  text-decoration: none;
  color: #568c14;
}

@mixin d-f-around {
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
