// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,700;1,300;1,400&display=swap');

body {
  margin: 0;
}

.container-landing {
  @include d-flex-column;
  position: relative;

  background: linear-gradient(180deg, rgba(75, 75, 75, 0) 0%, #4B4B4B 100%), #4a148c;
  height: 100vh;
  width: 100vw;
  font-family: 'Ubuntu Condensed', sans-serif;


  .container-text__first {
    z-index: 1;
    @include d-flex;

    height: 80px;
  
    .first-text {
      @include landing-text;
      
      span {
        color: #568c14;
      }
    }

  }
  .container-text__second {
    @extend .container-text__first;

    .second-text {
      @include landing-text;
    }
  }

  .container-text__third {
    @extend .container-text__first;

    .third-text{
      @include landing-text;
    }
  }

  .btn-mywork {
    @extend .container-text__first;

    border: 2px solid #568c14;
    border-radius: 1rem;

    .my-work {
      @include landing-text;

      @include links;
      padding: 1.5rem 7.5rem;
    }
  }
}

.all-inside {
  width: 99vw;
  height: 100vh;
  position: relative;

  .container-port {
    height: 100%;
    width: calc(100% - 150px);
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  
    .container-title {
      @include d-flex;
  
      height: 80px;
  
      .title {
        @include landing-text;
      }
    }
  
    .container-soft__img {
      @include d-flex;
      
      align-items: flex-start;
      width: 100%; 
      height: 60%;
  
      .container-image {
        width: 15%;
        height: 250px;
  
        .img {
          width: 100%;
          padding-bottom: 100%;
          background-image: url(https://i.imgur.com/lbNtDf0.jpg);
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          border: 2px solid #86148c;
        }
  
      }
  
      .container-soft {
        @include d-f-around;
        padding: 2rem 0 0 0;
        align-items: flex-start;
        height: 100%;
        width: 75%;
        flex-wrap: wrap;
  
        .container-soft__skills {
          width: 15%;
        }
  
        .image-bdg {
          display: block;
          width: 150px;
          height: 150px;
          background-image: url(https://i.imgur.com/Kb8ZkaO.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  
    .ending {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(74,20,140,0.5);
    }
  
  }

  .starting {
    position: absolute;
    top: 0;
    left: 28%;
    z-index: 0;
    width: calc(100% - 27%);
  }

  .container-tools {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:  #4a148c ;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 1.5% 95%, 0 90%, 1.5% 85%, 0 80%, 1.5% 75%, 0 70%, 1.5% 65%, 0 60%, 1.5% 55%, 0 50%, 1.5% 45%, 0 40%, 1.5% 35%, 0 30%, 1.5% 25%, 0 20%, 1.5% 15%, 0 10%, 1.5% 5%, 0 0% );
  }

  .container-icon {
    position: absolute;
    color: #568c14;
    width: max-content;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .one-skill {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .polygon {
    width: 50%;
    height: 400px;
    background-image: url(https://i.imgur.com/lbNtDf0.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0%, 64% 52%, 100% 100%, 0 100%, 0% 50%, 0 0);
  }

  .skill-text {
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 50%;
    text-align: center;
  }
}